/* Global Styles */

:root {
  font-size: 10px;
  --bg: #2a3950;
  --bg-secondary: #41436a;
  --primary: #f64668;
  --secondary: #fe9677;
  --tertiary: #984063;
  --text-primary: #fafafa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}

.lead-text {
  position: absolute;
  top: 0;
  left: 2rem;
  right: 2rem;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
  font-size: 9rem;
}

.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.wave-wrapper {
  height: 12rem;
  width: 100vw;
  position: relative;
  background: var(--bg-secondary);
}

.wave-wrapper .wave {
  width: 100%;
  height: 100%;
  background: url("./images/wave-large.png") center no-repeat;
  background-size: cover;
}

.reverse-wave-wrapper {
  height: 10rem;
  width: 100vw;
  position: relative;
  background: var(--bg-secondary);
}

.reverse-wave-wrapper .reverse-wave {
  width: 100%;
  height: 100%;
  background: url("./images/wave-large-reversed.png") center no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 1050px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .lead-text {
    font-size: 6rem !important;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-bottom: 0.7rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 3rem;
  text-transform: uppercase;
  font-size: 2rem;
  background: transparent;
}

.nav-brand a {
  color: var(--primary);
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link {
  color: var(--primary);
}

/* Hero */

.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, var(--bg), var(--bg-secondary));
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url("./images/wave-large.png") center no-repeat;
  background-size: cover;
}

.main-text {
  margin-top: 3rem;
  display: inline-block;
  max-width: calc(100% - 20rem);
  color: var(--text-primary);
  position: relative;
}

.main-text h1 {
  font-size: 6rem;
  font-weight: 400;
}

.main-text span.zach {
  color: var(--primary);
}

.main-text p {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.4);
}

.hello-text .letter,
.i-am-text .letter,
.details .letter {
  display: inline-block;
  transition: color 300ms linear;
  position: relative;
  z-index: 10;
}

.letter:hover {
  color: var(--primary);
}

button.contact-btn {
  background: transparent;
  border: 2px solid var(--primary);
  padding: 1rem 2rem;
  color: var(--text-primary);
  font-size: 1.5rem;
  margin-top: 2rem;
  position: relative;
  display: block;
  z-index: 1;
}

button.contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: var(--primary);
  z-index: -1;
  transition: height 300ms cubic-bezier(0.97, 0.29, 0.48, 1.33);
}

button.contact-btn:hover::before {
  height: 100%;
}

@media only screen and (min-width: 1050px) {
  .hero::before {
    background: url("./images/wave-large.png") top no-repeat;
    background-size: cover;
    height: 15rem;
  }

  .main-text {
    max-width: 60vw;
  }

  .main-text h1 {
    font-size: 9rem;
  }

  .main-text p {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .main-text {
    max-width: 85vw;
  }

  section.hero .container {
    position: relative;
  }
}

/* About Section */

section.about {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.card {
  width: 80%;
  margin: 3rem auto;
  margin-bottom: 0;
  padding: 5%;
  box-shadow: black 0.2rem 0.2rem 1rem;
  font-size: 2rem;
  position: relative;
  z-index: 5;
  background: white;
  border-radius: 0.6rem;
  /* display: none; */
}

.card-body {
  color: black;
}

.card-profile {
  float: left;
  position: relative;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background: linear-gradient(-135deg, var(--bg), #222);
  overflow: hidden;
  margin-right: 2rem;
}

.card-profile img {
  position: absolute;
  top: 0rem;
  left: 1rem;
  width: 80%;
  height: auto;
}

.about-text {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
  font-size: 9rem;
}

.squares {
  height: 20rem;
  width: 20rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  align-content: center;
  z-index: -5;
}

.square {
  width: 40%;
  height: 40%;
  margin: auto;
  background: var(--tertiary);
}

@media only screen and (min-width: 1050px) {
  .reverse-wave-wrapper {
    height: 15rem;
    width: 100vw;
    position: relative;
    background: var(--bg-secondary);
  }

  .reverse-wave-wrapper .reverse-wave {
    width: 100%;
    height: 100%;
    background: url("./images/wave-large-reversed.png") bottom no-repeat;
    background-size: cover;
  }

  .card-body {
    font-size: 3rem;
  }

  .card-profile {
    transform: scale(1.25);
    margin-right: 3rem;
    margin-bottom: 1rem;
  }

  .card-profile img {
    left: 1.3rem;
  }

  .squares {
    right: 2rem;
  }
}

/* Skills Section */
section.skills {
  width: 100vw;
  background: linear-gradient(to bottom, var(--bg-secondary), var(--bg));
  padding-bottom: 20rem;
}

.skill-text {
  margin-top: 5rem;
  right: 2rem;
  text-align: right;
}

.skill {
  margin: 5rem 0;
}

.skill:first-child {
  margin-top: 10rem;
}

.skill:nth-child(odd) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill:nth-child(even) {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.skill-name {
  font-size: 2rem;
  font-weight: 400;
  color: var(--secondary);
  position: relative;
  display: inline;
}

.skill:nth-child(odd) .skill-name {
  margin-right: 3rem;
  text-align: right;
}

.skill:nth-child(even) .skill-name {
  margin-left: 3rem;
}

.skill-trail {
  width: 2.5px;
  background: var(--secondary);
  content: "";
  position: absolute;
  top: 0;
  height: 120%;
}

.skill:nth-child(odd) .skill-trail {
  right: -3rem;
}

.skill:nth-child(even) .skill-trail {
  left: -3rem;
}

.skill-icons {
  display: flex;
  flex-direction: row;
}

.skill:nth-child(odd) .skill-icon {
  margin-left: 2rem;
}
.skill:nth-child(odd) .skill-icon:first-child {
  margin-left: 3rem;
}

.skill:nth-child(even) .skill-icon {
  margin-right: 2rem;
}

.skill:nth-child(even) .skill-icon:first-child {
  margin-right: 3rem;
}

.skill-icon {
  height: 4rem;
  width: auto;
  position: relative;
}

.skill-icon .cover {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  background: var(--secondary);
}

.skill-icon i {
  color: var(--secondary);
  font-size: 4rem;
}

.skill-icon img {
  fill: #fe9677;
  min-width: 4rem;
  width: 4rem;
  height: auto;
}

.skill-icon {
  font-size: 3rem;
  color: var(--secondary);
}

.skill-icon.no-icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1050px) {
  .skill-icon.no-icon {
    font-size: 4rem;
    padding-top: 2rem;
  }

  .skill-name {
    font-size: 4rem;
  }

  .skill-icon i {
    font-size: 6rem;
  }

  .skill-icon img {
    width: 6rem;
    min-width: 6rem;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .skill-text {
    top: -3rem;
  }

  .skill-name {
    font-size: 1.8rem;
  }

  .skill-icon i {
    font-size: 3rem;
  }

  .skill-icons {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
  }

  section.skills {
    padding-bottom: 5rem;
  }
}

/* Projecgts */

section.projects {
  width: 100vw;
  background: linear-gradient(to bottom, var(--bg), #111a29);
}

.projects-grid {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  grid-auto-rows: 1fr;
  row-gap: 5rem;
  column-gap: 2rem;
  justify-content: center;
}

.project {
  position: relative;
  height: 100%;
  width: 100%;
}

.project:nth-last-child(1):nth-child(odd) {
  grid: span 2;
}

.project.in-production::before {
  content: "In Progress";
  text-transform: uppercase;
  text-align: center;
  color: #f6466899;
  font-size: 5rem;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background: rgba(100, 100, 100, 0.7);
  border-radius: 1rem;
  z-index: 777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .head {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.project .head img {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  z-index: 111;
  filter: brightness(70%);
  transition: filter, transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 5px 5px 10px black, -2px 5px 10px black;
  border-radius: 1rem;
}

.project .head img:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}

.project .body {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0 10%;
}

/* Card body background */
.project::after {
  position: absolute;
  content: "";
  top: 7rem;
  left: 5%;
  width: 90%;
  height: calc(100% - 7rem);
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 1rem;
  box-shadow: 10px 8px 25px black;
}

.project .title {
  font-size: 2.5rem;
  width: 80%;
  z-index: 111;
  margin-bottom: 0.7rem;
}

.project .desc {
  font-size: 1.6rem;
  width: 95%;
  font-weight: lighter;
  z-index: 111;
}

.reverse-wave-wrapper.projects-wave {
  background: var(--bg);
}
.wave-wrapper.projects-wave {
  background: var(--bg);
}

@media only screen and (max-width: 600px) {
  .projects-grid {
    row-gap: 3rem;
  }
}

/* Contact Form */

.contact {
  position: relative;
  background: var(--bg);
  width: 100vw;
}

.contact-wrapper {
  position: relative;
  padding-top: 20rem;
  width: 100vw;
}

.contact-text {
  top: 0;
  right: 2rem;
  text-align: right;
}

.contact form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
  background: transparent;
  border: 1px var(--primary) solid;
  /* border: none; */
  padding: 1rem 1rem;
  color: rgba(255, 255, 255, 0.6);
  width: 60%;
  max-width: 480px;
  margin-bottom: 3rem;
}

textarea {
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 5;
}

input[type="submit"] {
  border: 1px var(--primary) solid;
  font-size: 1.6rem;
  color: var(--text-primary);
  padding: 1rem 2rem;
  position: relative;
  z-index: 5;
  background: transparent;
}

/* Neon Button */

.neon-btn {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--primary);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  overflow: hidden;
  transition: 200ms;
}

.neon-btn:hover {
  color: var(--bg-secondary);
  background: var(--primary);
  box-shadow: 0 0 1rem var(--primary), 0 0 2rem var(--primary),
    0 0 3rem var(--primary);
  transition-delay: 1100ms;
}

.neon-btn span {
  position: absolute;
  display: block;
}

.neon-btn span:nth-child(1) {
  top: 0;
  left: -101%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--primary));
  z-index: 10;
  transition: all 1000ms;
}

.neon-btn:hover span:nth-child(1) {
  left: 100%;
}

.neon-btn span:nth-child(2) {
  top: -101%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--primary));
  z-index: 10;
  transition: all 1000ms;
  transition-delay: 250ms;
}

.neon-btn:hover span:nth-child(2) {
  top: 100%;
}

.neon-btn span:nth-child(3) {
  bottom: 0;
  right: -101%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--primary));
  z-index: 10;
  transition: all 1000ms;
  transition-delay: 500ms;
}

.neon-btn:hover span:nth-child(3) {
  right: 100%;
}

.neon-btn span:nth-child(4) {
  bottom: -101%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, var(--primary));
  z-index: 10;
  transition: all 1000ms;
  transition-delay: 750ms;
}

.neon-btn:hover span:nth-child(4) {
  bottom: 100%;
}

.bars {
  position: absolute;
  left: calc(-200% + 10%);
  width: 100%;
  bottom: 12rem;
  height: 6rem;
}

.bar {
  height: 0.6rem;
  width: 200%;
  background: var(--primary);
  filter: brightness(75%);
  margin-bottom: 1rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .contact-wrapper {
    padding: 8rem 0;
  }

  section.contact {
    padding-bottom: 0;
  }

  .contact-wrapper {
    padding-bottom: 4rem;
  }
}
