.section-title {
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2rem;

    @include respond-above("lg") {
        font-size: 48px;
    }
}

section.projects {
    background: $background-secondary;
}

section.with-ellipse {
    margin-top: 15px;
}

section.with-ellipse::before {
    position: absolute;
    z-index: 10;
    content: '';
    top: -15px;
    width: 100%;
    height: 30px;
    background: inherit;
    clip-path: ellipse();
}

section.with-ellipse::after {
    position: absolute;
    content: "";
    z-index: 10;
    bottom: -15px;
    width: 100%;
    height: 30px;
    background: inherit;
    clip-path: ellipse();
}

section.hero {
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;

    .profile-img {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 0.7rem;

        @include respond-above("lg") {
            width: 250px;
            height: 250px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1 {
        font-size: 54px;
        font-weight: bold;
        padding-top: 1rem;

        @include respond-above("xs") {
            font-size: 60px;
        }

        @include respond-above("lg") {
            font-size: 76px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        max-width: 300px;
        margin: 0 auto;
        gap: 1rem;
    }
}

.project-grid {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    

    @include respond-above("xs") {
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    }
}

section.skills {
    background: $background-primary;
}