@import "./variables.scss";

.project-card {
    background: $background-primary;
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 1rem 1rem 4rem;
    text-align: center;
    position: relative;

    .img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
    }

    .title {
        padding-top: 0.5rem;
        font-weight: bold;
        font-size: 1.75rem;
    }

    .description {
        padding-top: 0.5rem;
    }

    .buttons {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        padding-top: 0.8rem;
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        justify-content: center;
    }

    .gh-icon {
        margin-right: 4px;
        stroke: white;
        fill: white;
    }
}