.skills-layout {
    padding: 2rem;
}

.skill-wrapper {
    padding: 1rem;
    margin-bottom: 2rem;

    .title {
        padding-top: 1rem;
        text-align: center;
        font-size: 1.75rem;
        padding-bottom: 1rem;
    }

    .sgrid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        justify-content: center;

        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                height: 80px;
            }

            label {
                font-weight: 500;
                padding-top: 8px;
            }
        }
    }
}