@import "./_variables.scss";
@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/FontsFree-Net-SFProDisplay-HeavyItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/FontsFree-Net-SFProDisplay-RegularItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/FontsFree-Net-SFProDisplay-Thin.ttf");
  font-weight: 300;
  font-style: normal;
}

#app {
  font-family: "SFProDisplay";

  h1 {
    color: $dark-1;
    font-size: 82px;
    font-weight: 700;
    font-style: normal;
    line-height: 97.29px;
  }

  h2 {
    color: $dark-1;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 57.28px;
  }

  h3,
  h4 {
    color: $dark-2;
  }

  h3 {
    font-size: 36px;
    line-height: 42.96px;
  }

  h4 {
    font-size: 36px;
    line-height: 43px;
  }
}