---
import Footer from "../components/Footer.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <main>
    <section class="pt-4">
      <h1 class="text-3xl text-center">Coming Soon!</h1>
    </section>
  </main>
  <Footer />
</SiteLayout>
