---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="flex flex-row gap-4">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
	</nav>
</header>
