.skill-container {
    box-shadow: -10px -10px 20px #ffffff,
                10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.skill-container h1 {
    font-size: 36px;
    text-align: center;
    padding: 0.75rem 0;
    font-weight: 500;
}

.skills-grid {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.5rem;
}

.skill-card {
    text-align: center;
}

.skill-card p {
    padding-top: 0.5rem;
    font-size: 1.25rem;
}

.skill-card p.learning {
    font-size: 1rem;
    color: #d84545;
}