<div class="flex flex-row gap-4">
    {{ partial "footer-icon.html" (dict "label" "About" "src" "img/icons/person.svg" "alt" "Newspaper" "href" "/about")}}
    {{ partial "footer-icon.html" (dict "label" "Articles" "src" "img/icons/newspaper.svg" "alt" "Newspaper" "href" "/articles")}}
    {{ partial "footer-icon.html" (dict "label" "Projects" "src" "img/icons/wrench.svg" "alt" "Newspaper" "href" "/projects")}}
    {{ partial "footer-icon.html" (dict "label" "Resume" "src" "img/icons/tie.svg" "alt" "Newspaper" "href" "/resume")}}
</div>