<div class="project-card">
  <img class="img" src="{{ .imageUrl }}" alt="{{ .title }}" />
  <div class="title">{{ .title }}</div>
  <div class="description">{{ .description }}</div>
  <div class="buttons">
    {{ if ne .url nil }}
    <a href="{{ .url }}" class="btn sm main"
      ><img class="link-icon" src="/icons/link.svg" alt="link" height="14px" /> Link</a
    >
    {{ end }} 
    
    {{ if ne .githubUrl nil }}
    <a href="{{ .githubUrl }}" class="btn sm main outline"
      ><img class="gh-icon" src="/icons/github.svg" alt="link" height="14px" /> Github</a
    >
    {{ end }}
  </div>
</div>
