<div class="card">
  <img src="{{ .img }}" class="card--img" />
  <div class="card--body text-center flex justify-center items-center">
    <div>
      <h1 class="text-3xl font-bold">{{ .title }}</h1>
      <h3 class="pt-1 text-lg">{{ .description | markdownify  }}</h3>
      <div class="flex w-full items-center justify-center gap-4">
        <a href="{{ .link }}" class="btn btn--outline border-white">Link</a>
        <a href="{{ .githubUrl }}" class="btn btn--outline border-white">Github</a>
      </div>
    </div>
  </div>
</div>
