$mx-width: 1280px;

// Colors
$purple: #6430F9;
$black: #000000;
$dark-purple: #08058E;

$text: #000;
$text-secondary: #424242;
$text-inverted: white;

$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;