@import "./variables";

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

body {
  position: relative;
}

// BASE STYLES
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: $mx-width;
  margin: 0 auto;
  padding: 0 1rem;
}

// Utilities
.relative {
  position: relative;
}

// HERO SECTION
.hero {
  h1 {
    font-size: 92px;
  }

  h3 {
    margin-top: 2rem;
    font-size: 44px;
    font-weight: normal;
    color: $text-secondary;
  }

  .button-container {
    margin-top: 3rem;
    position: relative;
    display: inline-block;

    .button {
      position: relative;
      z-index: 10;
      display: inline-block;
      color: $text-inverted;
      background: $black;
      font-size: 32px;
      padding: 1rem 5rem;
    }

    .outline {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 1rem;
      left: 1rem;
      border: 1.5px solid $text-secondary;
    }
  }
}

.hero-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "text picture";

  .text-content {
    grid-area: text;
  }

  .picture {
    grid-area: picture;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 1rem;
    img {
      width: 100%;
      max-width: 360px;
    }
  }
}

// Desktop query
@media (max-width: $breakpoint-desktop) {
  .hero-layout {
    margin-top: 2rem;
    h1 {
      font-size: 70px;
    }

    h3 {
      font-size: 32px;
    }
  }

  .hero {
    .button-container {
      .button {
        font-size: 26px;
      }
    }
  }
}


// Tablet query
@media (max-width: $breakpoint-tablet) {
  .hero {
    .button-container {
      .button {
        font-size: 22px;
        padding: 1rem 4.5rem;
      }
    }
  }
  .hero-layout {
    grid-template-columns: 100%;
    grid-template-areas: "picture" "text";

    h1 {
      margin-top: 2rem;
      font-size: 48px;
    }

    h3 {
      margin-top: 1rem;
      font-size: 28px;
    }

    .text-content {
      text-align: center;
    }

    .picture {
      margin-top: 2rem;
      justify-content: center;
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }
}