---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body class="bg-black text-white">
    <div class="sticky flex flex-col items-center z-50 mt-4">
      <Header />
    </div>
    <slot />
  </body>
</html>
